.hero__slider {
    .splide__pagination {
        position: absolute;
        bottom: 9px;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0px;
        li{
            margin: 4px 5px;
            .splide__pagination__page {
                background: #fff;
                border: none;
                width: 64px;
                height: 5px;
                cursor: pointer;
                &.is-active{
                    background: #c35cff;
                }
            }
        }
    }

}




@media only screen and (max-width: 780px) {
    .hero__slider {
        .splide__pagination li {
            .splide__pagination__page{
                width: 34px !important;
            }
        }
    }
}