.ges-category-heading-section {
    margin-top: 0;
    padding-top: 355px;
    padding-bottom: 278px;
}
.category {
    .ges-category-heading-section {
        padding-top: 460px;
        padding-bottom: 276px;
    }
}
@media only screen and (max-width: 1200px) {
    .category {
        .ges-category-heading-section {
            padding-top: 400px;
            padding-bottom: 226px;
        }
    }
}
@media only screen and (max-width: 781px) {
    .ges-category-heading-section {
        padding-top: 300px;
    }
    .category {
        .ges-category-heading-section {
            padding-top: 346px;
        }
    }
}