.ges-category-heading-section {
    padding-top: 355px;
    padding-bottom: 278px;
}
@media only screen and (max-width: 781px) {
    .ges-category-heading-section {
        padding-top: 300px;
    }
}