<!-- wp:template-part {"slug":"header","tagName":"header","className":"ges-header"} /-->

<!-- wp:group {"tagName":"section","align":"wide","className":"container ges-category-heading-section","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignwide container ges-category-heading-section"><!-- wp:query-title {"type":"archive","showPrefix":false,"fontSize":"huge"} /--></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"container ges-post-data-information","layout":{"type":"constrained"}} -->
<section class="wp-block-group container ges-post-data-information"><!-- wp:query {"queryId":0,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","className":"ges-post-data-list","layout":{"contentSize":null,"type":"constrained"}} -->
<main class="wp-block-query ges-post-data-list"><!-- wp:post-template {"align":"wide","layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","align":"wide"} /-->

<!-- wp:post-title {"isLink":true,"align":"wide","fontSize":"small"} /-->

<!-- wp:post-excerpt /-->

<!-- wp:group {"className":"ges-read-more","layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group ges-read-more"><!-- wp:read-more {"content":"View Blog","className":"right-arrow"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous {"fontSize":"small"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"fontSize":"small"} /-->
<!-- /wp:query-pagination --></main>
<!-- /wp:query --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->