<!-- wp:template-part {"slug":"white-header","area":"header"} /-->

<!-- wp:post-featured-image {"align":"wide","className":"ges-single-post-banner-image"} /-->

<!-- wp:group {"tagName":"section","className":"ges-post-content-information container","layout":{"type":"constrained","contentSize":"1088px"}} -->
<section class="wp-block-group ges-post-content-information container"><!-- wp:group {"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-date /-->

<!-- wp:post-title {"level":1,"className":"ges-post-title"} /-->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:group {"className":"ges-author-details-block","layout":{"type":"constrained"}} -->
<div class="wp-block-group ges-author-details-block"><!-- wp:columns {"verticalAlignment":"center"} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","width":"140px"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:140px"><!-- wp:avatar {"size":138} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"440px","className":"ges-author-content-wrap"} -->
<div class="wp-block-column is-vertically-aligned-center ges-author-content-wrap" style="flex-basis:440px"><!-- wp:post-author-name {"className":"ges-author-name"} /-->

<!-- wp:post-author-biography {"className":"ges-auther-info"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->